<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="suplementacion deportiva proteina quimica aminoacidos creatina quemadores anabolicos argentina">
    <title>Quiénes somos?</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedor_nos">
        <header class="header_nos">
            <a href="../index.html"><img src="../assets/img/tigre_logo.png.png" alt="logo" class="logo"></a>
        </header>
        <nav class="nav_nos">
            <ul class="ul_nav">
                <li><a href="../index.html" class="a_li">HOME</a></li>
                <li><a href="productos.html" class="a_li">PRODUCTOS</a></li>
                <li><a href="contacto.html" class="a_li">CONTACTO</a></li>
                <li><a href="nosotros.html" class="a_li">NOSOTROS</a></li>
                <li><a href="extras.html" class="a_li">EXTRAS</a></li>
            </ul>
        </nav>
        <main class="main_nos">
            <div class="box_nosotros">
                <h1 class="titulo_nosotros">NOSOTROS</h1>
            </div>
            <div class="box_quienesSomos">
                <h2 class="quienesSomos">¿Quiénes somos?</h2>
            </div>
            <div class="box_descripcion_quienesSomos">
                <p class="descripcion_quienesSomos">Somos una empresa joven dedicada a la comercialización de sustancias que mejoran el rendimiento fisico, trabajamos con diversas marcas, tanto nacionales como importadas y somos distribuidores oficiales.</p>
            </div>
            <div class="box_mision">    
                <h2 class="mision">Misión</h2>
            </div>    
            <div class="box_descripcionMision">
                <p class="descripcionMision">Ofrecer la mejor variedad y calidad de productos deportivos del mercado.</p>
            </div>
            <div class="box_brindarContacto">
                <h2 class="brindarContacto">Brindamos asesoramiento personalizado.</h2>
            </div>
            <div class="box_botonContacto">    
                <a href="contacto.html"><input class="boton_contacto" type="button" value="Hace click acá"></a>
            </div>
        </main>
        <footer class="footer_nos">
            <div class="contenedorTextosFoo">
                <h2 class="textoFoo">REDES SOCIALES</h2>
                <h2 class="textoFoo"><a href="contacto.html">CONTACTO</a></h2>
                <h2 class="textoFoo">UBICACIÓN</h2>
            </div>
            <div class="contenedorImgFoo">
                <a target="_blank" href="https://www.instagram.com/"><img src="https://icongr.am/entypo/instagram.svg?size=40&color=f4872f" alt="logo" class="rss"></a>
                <a target="_blank" href="https://es-la.facebook.com/"><img src="https://icongr.am/entypo/facebook.svg?size=40&color=f4872f" alt="logo"  class="rss"></a>
                <a target="_blank" href="https://twitter.com/"><img src="https://icongr.am/entypo/twitter.svg?size=40&color=f4872f" alt="logo"  class="rss"></a>
            </div>
            <div class="boxMapa">
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.742696537064!2d-58.58430498477089!3d-34.585376580464235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb9b74534e09f%3A0x98b4df062ab84cc4!2sFrancisco%20Lagorio%201319%2C%20B1683%20Villa%20Bosch%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1643164385307!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </footer>
    </div>
</body>
</html>